   NODE_ENV=development
   PORT=5001
   CLIENT_URL=http://localhost:5173
   MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@YOUR-CLUSTER.mongodb.net/chatapp?retryWrites=true&w=majority
   JWT_SECRET=05dbe1d4a7e1cf9f87e654af0bfbe9db2ad676f92eee921e169d670ce079b28c964ea3bd738fdc5d9243e75b86bbb6bd
JWT_EXPIRES_IN=7d